* {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
 }
  
header{
    text-align: center;
    color:#797672;
    background-color: #dad8d5;
    padding: 50px;
}

.card {
    width:100%;
    display: flex;
    gap: 50px;
    padding: 110px;
    flex-wrap: wrap;
    justify-content: center;
}
.card-perfil{
  
    width: 320px;
    height: 500px;
    background: linear-gradient(to bottom, hwb(34 63% 5%) 35%, #fdfdff 30%);
    padding: 20px;
    box-shadow: 2px 2px 5px #d6d4d4;
    border-radius: 15px;
    justify-items: center;
    
    
    

}
.nombre img{
    width: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px hsl(0, 1%, 46%);
    
}
.nombre{
    display:flex;
    color: #797672;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.lista ul{
    list-style: none;
    color: hsl(36, 2%, 40%);
    
}



.enlace {
    background-color: blue;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}
.enlace:hover {
    background-color: hsl(46, 83%, 53%);
}
.button{
    text-align: center;
    padding: 20px;
}
    
.lista{
    padding: 15px;
    
}
footer {
    display: flex; 
    justify-content: space-between; /* Coloca un elemento en cada extremo */
    align-items: center; /* Centra los elementos verticalmente */
    background-color: hsl(34, 84%, 64%);
    padding: 30px; 
    color: white; 
}

footer h3{
    color: white;
    text-align: left;
    margin-left: 70px;
}

footer logo img {
    width: 100px; 
    height: auto; 

}
   
